.section-menu-padd{
    padding: 64px 48px;

}

.menu-section1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}
.menu-section1 > div{
    display: flex;
    flex-direction: column;
}

.menu-section1 > img{
    width: 572px;
    height: 432px;
    border-radius: 12px;
    border: 0 solid ;
}

.menu-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu-section4 > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.menu-plan-bg{
    background-color: #4a2e22;
}

.menu-food-bg{
    border: 1px solid #d7c5ae;
    background-color: #fff9f0;
}

 @media (max-width: 768px) {
    .section-menu-padd {
        padding: 60px 24px;
    }

    .menu-section1 {
        display: block;
    }

    .menu-section1>div {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
    }

    .menu-section1>img {
        width: 100%;
        height: auto;
        max-height: 432px;
        object-fit: cover;
        border-radius: 12px;
        margin-bottom: 32px;
    }

    .menu-grid {
        display: block;
    }

    .menu-grid>* {
        margin-bottom: 32px;
    }

    .menu-grid>*:last-child {
        margin-bottom: 0;
    }

    .menu-section4>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

